.portfolioList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.porfolio_balance_div {
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.porfolio_balance {
  color: #c9c9c9;
  font-size: 60px;
  font-weight: bold;
}

h5,
h6 {
  margin: 0px;
}
